{% extends 'base.html' %}

{%block title%}Allison Decker{%endblock%}
{% block content %}
<div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Allison Decker</h1>
            <p class="lead text-muted">Software Engineer</p>
            <p style="font-weight: bold;">
                Python | SQL | Javascript | HTML | CSS | Flask | Express | Data Structures and Algorithms
            </p>
            <p>I have worked for 5 years as a teacher integrating technology into my classroom and now I'm excited to
                take the skills I've gained and pivot into the Software Engineering industry!<br><br>

                I have a strong track record of identifying and solving technology problems in a busy and demanding
                school environment. Most recently, I was in charge of teaching online-only students, keeping the
                school's social media accounts up to date, and supporting other coworkers when they had technology
                questions or problems. I have a lot of experience in meeting deadlines in a high-energy environment; my
                team would collaborate weekly on planning and implementing lessons based on stated goals. I am currently
                in a bootcamp-style course called Springboard that includes 800+ hours of hands-on course material, with
                1:1 industry expert mentor oversight, and completion of 4 in-depth portfolio projects. I'm looking for
                opportunities in the Detroit/Ann Arbor area with Software Engineering companies.</p>
        </div>
    </section>
</div>
<br><br><br>
<center>
    <div class="container" style="color: white;">
        <div class="row">
            <div class="col-lg-4">

                <h2>Projects</h2>
                <p>
                    A link to my Github and websites that I've made!
                </p>
                <p><a class="btn btn-secondary" href="/projects" role="button">View</a></p>
            </div>
            <div class="col-lg-4">

                <h2>Resume</h2>
                <p>
                    Former educator who worked for 5 years as a teacher integrating technology into my classroom.
                    I'm excited to take the skills I've gained and pivot into the Software Engineering industry!

                </p>
                <p><a class="btn btn-secondary" href="/resume" role="button">View</a></p>
            </div>
            <div class="col-lg-4">

                <h2>LinkedIn</h2>
                <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/adecker032/" role="button">View</a>
                </p>
            </div>
        </div>
    </div>

    <br><br>

    <div class="container" style="color: white; font-size: 30px;"><a href="mailto:Deckera0329@gmail.com">Contact me!</a>
    </div>
</center>


{% endblock %}