{% extends 'base.html' %}

{%block title%}Resume{%endblock%}
{% block content %}
<h1 style="color:white;">Resume</h1>
<div class="album py-5 bg-dark" style="color: white;">
    <div class="container">

        <center><b style="font-size: 72px">Allison Decker</b>
            <p>Ann Arbor, MI | <a href="mailto:Deckera0329@gmail.com">Deckera0329@gmail.com</a>

            </p>
        </center>
        <hr style="background-color: white;">
        <p><b><u style="font-size: 25px">Skills</u></b>
        <p>
            Python, Flask, SQL, PostgresQL, Javascript, HTML, CSS, Node.js, SQL, APIs, Web Development, DOM
            Manipulation, Event Driven Programming, Git/Terminal/Github, Modern JavaScript and Testing, AJAX,
            jQuery, ReactJS, Express, Data Structures and Algorithms.</p>
        </p>
        <hr style="background-color: white;">
        <p><b><u style="font-size: 25px"><a href=/projects>Projects</a></u></b>
        <p>See my projects page on this website!</p>
        <hr style="background-color: white;">
        <p><b><u style="font-size: 25px">Experience</u></b>
        <p><b>Springboard, Software Engineering Fellow February 2022- Present</b><br>
            - An intensive 800-hour course that covers key aspects of front-end web development, back-end web
            development, databases, and data structures and algorithms. Modules include learning resources, practice
            exercises, projects, and career-related coursework.<br>
            -Created 2 capstone project websites with full CRUD routes and login capabilities and met 1:1 with an
            industry-expert mentor weekly.<br><br>
            <b>2nd/3rd Grade Teacher, Bay Creek Elementary School August 2016-May 2021</b><br>
            Responsible for planning and implementing lessons and curriculum in a classroom of 24+ students. Team-taught
            students who were gifted, developmentally disabled, and on-level.<br><br>
            <b>Social Media Expert, Bay Creek Elementary School August 2016 - May 2021</b><br>
            Responsible for the upkeep of the school’s Facebook, Twitter, and Instagram accounts including scheduling
            events, posting news, and reviewing pictures to make sure we are in compliance with COPPA laws.
        </p>
        <hr style="background-color: white;">
        <p><b><u style="font-size: 25px">Education</u></b>
        <p>
            <b>Springboard February 2022 - Present</b><br>
            Software Engineering Program, Certificate<br><br>
            <b>University of Georgia August 2011 - December 2015</b><br>
            B.S. Early Childhood Education
        </p>

    </div>
</div>

{%endblock%}